aniso8601==9.0.1
asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
crispy-bootstrap4==2022.1
crispy-bootstrap5==0.7
crispy-bulma
distlib==0.3.7
dj-database-url==2.1.0
django-appconf==1.0.5
django-crispy-forms==2.0
django-elasticsearch-dsl==7.3
django-filter==23.3
django-image-cropping==1.7
django-imagekit==4.1.0
django-phonenumber-field==7.1.0
django-smart-selects==1.6.0
django-storages==1.14
django-widget-tweaks
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
easy-thumbnails==2.8.5
elastic-transport==8.4.0
elasticsearch
elasticsearch-dsl
filelock
graphene==3.3
graphene-django==3.1.5
graphql-core==3.2.3
graphql-relay==3.2.0
idna==3.4
phonenumbers==8.13.20
pilkit==2.0
Pillow
platformdirs==3.10.0
promise==2.3
psycopg==3.1.10
PyJWT==2.8.0
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
stripe
text-unidecode
typing_extensions
tzdata==2023.3
urllib3
virtualenv==20.24.5
whitenoise==6.5.0
django==4.1.6
gunicorn
psycopg2-binary
